---
import ExperienceItem from './ExperienceItem.astro'
const EXPERIENCE =[
    {
        date: "July 2024",
        title: "Access Control System with Forms.net in C#",
        description: "Development of an access control system with Forms.net in C# for office access control using RFID cards and serial ports.",
        link: "https://github.com/Kechuuu/rfidBD",
    },
    {
        date: "November 2023",
        title: "IoT Device Configuration System",
        description: "Configuration of LoRa modules via serial port with database storage using a MAC address.",
        link: "https://github.com/Kechuuu/EBYTE-NAS",
    },
    {
        date: "January 2023",
        title: "Hardware for an RFID Access Control System",
        description: "Access control system with RFID and real-time database using an RP2040 microcontroller.",
        link: "https://github.com/Kechuuu/Rfid_Firebase_picoW",	

    },
    {
        date: "November 2022",
        title: "Weather Station",
        description: "Design of a weather station with humidity, temperature, and atmospheric pressure sensors using a Raspberry Pi Pico microcontroller and real-time data transmission to a database.",
        link: "https://github.com/FranklinZamora/WeatherStationPiPico",
    }


]


  

---



<ol class="relative border-s border-gray-200 ml-3 text-white"> 
    {
        EXPERIENCE.map(experience => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
                
            </li>))
     }                 
   
</ol>

