---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import SocialPill from "../icons/SocialPill.astro";
import GitHubIcon from "../icons/GitHub.astro";
import MailIcon from "../icons/Mail.astro";
import Experience from "../icons/Experience.astro";
import ExperienceIco from "../icons/ExperiencieIco.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Code from "../icons/Code.astro";
import Hardwareico from "../icons/Hardwareico.astro";
import Projects from "../components/Projects.astro";
import ProjectsSoftware from "../components/ProjectsSoftware.astro";
import Card from "../components/Card.astro";
---

<Layout
  title="Armando's Portfolio"
  description="Hire Armando for your continuous improvement"
>
  <main class="px4">
    <SectionContainer class="py-40 pb-20 flex flex-col items-center" id="top">
      <img
        class="rounded-full w-35 h-32 mb-6"
        src="image/mi-perfil.png"
        alt="Profile picture"
      />
      <h1
        class="text-white text-3xl md:text-4xl font-bold flex justify-center flex-row gap-x-4 pb-6 lg:pb-8 items-center"
      >
        I'm Jesus Armando
        <a
          href="https://www.linkedin.com/in/jesus-armando-gonzalez-mu%C3%B1oz-929455299/"
          target="_blank"
          rel="noopener noreferrer"
          class="flex justify-center items-center"
        >
          <Badge>About me</Badge>
        </a>
      </h1>

      <h2 class="text-2xl lg:text-2xl text text-white wrap max-w-[700px]">
        <span>2 years of experience.</span>
        <span class="text-yellow-300 opacity-80">
          Hardware and Software Developer.
        </span>
        <span>Seeking continuous improvement.</span>
        <span class="text-purple-300/90">From Sinaloa, Mexico</span>
      </h2>

      <nav class="flex gap-4 mt-8 text-white flex-wrap">
        <SocialPill
          href="https://www.linkedin.com/in/jesus-armando-gonzalez-mu%C3%B1oz-929455299/"
        >
          <LinkedIn class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/Kechuuu">
          <GitHubIcon class="size-4 md:size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="mailto:jesuzalez2015@gmail.com" id="correo">
          <MailIcon class="size-4 md:size-6" />
          Gmail
        </SocialPill>
      </nav>
    </SectionContainer>
    <SectionContainer id="experiencia">
      <h2
        class="text-2xl font-semibold text-white mb-6 flex gap-x-3 items-center"
      >
        <ExperienceIco class="size 6" />
        Work experience
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="hardware">
      <h2
        class="text-2xl font-semibold mb-6 text-white flex gap-x-3 items-center"
      >
        <Hardwareico class="size 6" />
        Hardware Projects
      </h2>
      <Projects />
    </SectionContainer>
    <SectionContainer id="software">
      <h2
        class="text-2xl font-semibold mb-6 text-white flex gap-x-3 items-center"
      >
        <Code class="size 6" />
        Software Projects
      </h2>
      <ProjectsSoftware />
    </SectionContainer>
  </main>
</Layout>
