
<header class="fixed top-0 left-0 w-full flex justify-center items-center py-3 bg-purple-900 shadow-md z-10">
    <nav class="w-full xl:w-[1120px] mx-auto">
      <ul class="flex justify-center items-center gap-x-10 opacity-80">
        <li><a href="#top">Inicio</a></li>
        <li><a href="#experiencia">Experiencia</a></li>
        <li><a href="#hardware">Hardware</a></li> 
        <li><a href="#software">Software</a></li>
        <li><a href="mailto:jesuzalez2015@gmail.com">Contacto</a></li>
      </ul>
    </nav>
  </header>
  
  